html {
  scroll-behavior: smooth;
}

body {
  font-size: 1.6em;
  text-align: center;
}
@font-face {
  font-family: Didactgothic-regular;
  src: url(../font/Russolo[opsz\wght].ttf);
}
.fonte-menor {
  font-size: 0.8em;
}
.fonte2 {
  font-family: "Allura", cursive;
}
.fonte3 {
  font-family: "Jost", sans-serif;
}
.topper {
  width: 35%;
}
.topper-1 {
  width: 13%;
  float: left;
  margin-left: 120px;
}
.topper-2 {
  width: 20%;
}
.topo {
  background-image: url(../img/aleksander-vlad-jiVeo0i1EB4-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
}
a {
  text-decoration: none;
  color: #9a8455;
}
.navibar {
  color: #9a8455;
  font-family: "Jost", sans-serif;
  font-size: 0.45em;
  background-color: #f7f5f4;
  position: fixed;
  width: 100%;
}
.menu {
  margin-right: 20px;
}
.sobre {
  margin: 10px 150px 100px 150px;
  line-height: 0.9;
}
.ava-img {
  transform: rotate(353deg);
  transform-origin: left top 0;
}
.ava-text {
  text-align: justify;
  font-size: 0.8em;
}
.avatar {
  width: 40%;
  float: left;
  margin-right: 50px;
}
.listas li {
  display: inline-block;
  line-height: 60px;
}
.midias {
  margin: auto;
  padding-left: initial;
}
.for {
  display: inline-block;
  width: 20%;
}
.loc {
  float: left;
}
.faixa {
  margin: auto;
}
.conteiner,
.identidade,
.port-all {
  margin: 100px 0px;
}
.identidade {
  background-image: url(../img/alexandra-unsplasnh.jpg);
  background-attachment: fixed;
  background-position: left;
  padding: 100px;
  color: #000000;
  text-align: left;
}
.serviços {
  display: inline-block;
  max-width: 30%;
  height: 280px;
  box-sizing: border-box;
  background-color: #f7f5f4;
  box-shadow: 20px 20px 50px #c9c2a8;
  padding: 30px;
  border-radius: 50px 0px 50px 0px;
  font-size: 0.7em;
}
.flexa {
  width: 70px;
}
button {
  border-radius: 0px;
  padding: 15px 23px 15px 23px;
  border: solid 1px;
  font-size: 0.5em;
  cursor: pointer;
  color: #9a8455;
  background: transparent;
  margin-bottom: 10px;
}
button:hover {
  background: #000000;
  color: #ffffff;
}
.faixa-1 {
  padding: 15px;
  background-color: #c9c2a8;
  margin-top: 20px;
  font-size: 0.7em;
}
.depoimentos {
  background-color: #f7f5f4;
  padding: 2px;
}
.slide-controller:nth-child(1):checked ~ .slide-show .slides-list {
  --selected-item: 0;
}
.slide-controller:nth-child(2):checked ~ .slide-show .slides-list {
  --selected-item: 1;
}
.slide-controller:nth-child(3):checked ~ .slide-show .slides-list {
  --selected-item: 2;
}
.slide-controller:nth-child(4):checked ~ .slide-show .slides-list {
  --selected-item: 3;
}
.slide-show {
  overflow: hidden;
}
.slides-list {
  --selected-item: 0;
  --total-items: 4;
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
  position: relative;
  left: calc(var(--selected-item) * -100%);
  width: calc(var(--total-items) * 100%);
  transition: left 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}
.text-dep {
  margin: 0px 100px;
  font-size: 0.7em;
}
.port-all {
  box-sizing: border-box;
}
.port {
  text-align: center;
  display: inline;
}
.ptl {
  margin-bottom: auto;
  margin-right: 100px;
  text-align: right;
}
hr {
  margin-top: 0px;
}
.line-1 {
  text-align: left;
  margin-left: 100px;
}
.line-4 {
  text-align: right;
  margin-right: 100px;
}
.port-container {
  margin: 1px;
  box-sizing: border-box;
  max-width: 28%;
}
.port-container:hover {
  max-width: 32%;
  cursor: pointer;
}
.icon {
  width: 25px;
  padding: 5px;
}
.a-i {
  color: #ffffff;
}
.contato {
  background-color: black;
  color: #ffffff;
  padding: 5px;
  font-size: 0.6em;
  margin-top: 50px;
}
.final-end {
  vertical-align: top;
  display: inline-block;
  box-sizing: border-box;
  max-width: 45%;
  text-align: justify;
  padding: 30px;
}
.copy {
  font-family: "Jost", sans-serif;
  font-size: 0.4em;
  padding: 10px;
  background-color: #161616;
  color: #f7f5f4;
  margin-bottom: 10px;
}
.container-123 {
  display: inline;
  box-sizing: border-box;
}
.img-id {
  width: 48%;
  float: left;
  margin-right: 30px;
}
.text-id {
  width: 50%;
  padding: 8px;
}
li {
  list-style: none;
}
.loc-log {
  text-align: end;
}
.logo {
  max-width: 50px;
}
.logo-2 {
  width: 70%;
}
.avatar-1 {
  width: 500px;
  border-radius: 50px 0px 0px 50px;
}
.sobre-1-1 {
  background-color: #a1927f;
  text-align: left;
  margin-right: 45px;
}
.sobre-1-2 {
  width: 12%;
  padding: 8px;
}
.sobre-mim {
  max-width: 33%;
  display: inline-block;
  box-sizing: border-box;
  text-align: justify;
  margin: 0px 30px 0px 40px;
}
@media (max-width: 720px) {
  body {
    font-size: 1.5em;
  }
  .navibar {
    width: auto;
    font-size: 0.4em;
  }
  .topper-1 {
    margin-left: auto;
  }
  .menu {
    letter-spacing: normal;
    margin-right: 5px;
  }
  .listas li {
    line-height: 0px;
  }
  .topo {
    width: 100%;
    height: 300px;
  }
  .faixa-1 {
    padding: 2px;
  }
  .for {
    width: 45%;
  }
  h4 {
    font-size: 0.9em;
  }
  .conteiner,
  .port-all {
    margin: auto;
  }
  .serviços {
    max-width: 80%;
    padding: 10px;
    max-height: 235px;
  }
  .identidade {
    margin: 50px 0px;
    padding: 20px;
    background-position: left;
  }
  .flexa {
    width: 50px;
  }
  h1 {
    font-size: 1.4em;
  }
  .ptl {
    margin-right: 30px;
  }
  .sobre {
    margin: 10px 30px 20px 30px;
  }
  button {
    font-size: 0.4em;
  }
  .depoimentos {
    margin-top: 20px;
    height: 250px;
  }
  h3 {
    margin: 10px 0px 5px 0px;
    font-size: 0.9em;
  }
  .slide-show {
    font-size: 0.7em;
  }
  .contact {
    margin: 5px;
  }
  .icon {
    width: 20px;
    padding: 0px;
  }
  .final-end {
    font-size: 0.7em;
  }
  .final-end .listas {
    margin-right: 35px;
  }
  .listas .icon {
    width: 12px;
    padding: 0px;
  }
  .logo {
    width: 50px;
  }
  h2 {
    margin: auto;
  }
  .container-123 {
    font-size: 0.6em;
  }
  .text-id {
    padding: 0px;
  }
  .text-id ul {
    margin-right: 30px;
  }
  .avatar-1 {
    width: 200px;
  }
  .sobre-mim {
    max-width: none;
    display: block;
  }
  .sobre-mim p {
    font-size: 0.7em;
  }
  .sobre-1-1 {
    margin: 0px 0px 15px 0px;
  }
  .logo-2 {
    width: 5%;
  }
}
